/venv/
/.pytest_cache/
/include/
/custom/
/Lib/
/man/
/Scripts/
/tcl/
*.ps1
/pip-self*.*
*.dmp
*.zip
old_*/
**/__pycache__/
*.log
*.dsn
*.dmp
*.crt
*.key
**/log/
**/.*cache/
**/venv*/
**/.idea/
**/screenshots/
**/venv_*/
/*.txt
/*.json
/*.ps1
*.tmp
/.gitmodules
!/dev_requirements.txt
!/apply-kiosk-acl.ps1
!/requirements.txt