<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Kiosk E-Ink Display Server{{ version }} running.</title>
  <style>
      * {
          padding: 0px 0px 0px 0px;
          margin: 0px 0px 0px 0px;
      }

      body {
          height: 100%;
          width: 100%;
          font-family: monospace;
      }

      a {
          text-decoration: none
      }
  </style>
</head>
<body>
<h1>
  Kiosk E-Ink display server version {{ version }}.
</h1>
</body>
</html>